In [246]:

from pyspark.sql import SparkSession
import pandas as pd

In [247]:

#spark = SparkSession.builder.appName("MyApp").getOrCreate()
spark = SparkSession.builder.appName('Name').config('config_option', 'value').getOrCreate()

In [271]:
#DATAFRAME  PRODUCTS
products = spark.read.csv("/Users/pasquale/Desktop/MySQL/EsameBDBD2020_CarvigianiDelleFrattePicconiTommasino/archive/products.csv", header="true")
#products.cache() # Cache data for faster reuse
products = products.dropna() # drop rows with missing values
#products.show(10)
products_df = products.toPandas()
print(products_df.head(10))
#products.limit(10).toPandas()
a=products.count()
print("The row of products.csv are: %s" %a)

  product_id                                       product_name aisle_id  \
0          1                         Chocolate Sandwich Cookies       61
1          2                                   All-Seasons Salt      104
2          3               Robust Golden Unsweetened Oolong Tea       94
3          4  Smart Ones Classic Favorites Mini Rigatoni Wit...       38
4          5                          Green Chile Anytime Sauce        5
5          6                                       Dry Nose Oil       11
6          7                     Pure Coconut Water With Orange       98
7          8                  Cut Russet Potatoes Steam N' Mash      116
8          9                  Light Strawberry Blueberry Yogurt      120
9         10     Sparkling Orange Juice & Prickly Pear Beverage      115

  department_id
0            19
1            13
2             7
3             1
4            13
5            11
6             7
7             1
8            16
9             7
The row of products.csv are: 49688

In [249]:
#DATAFRAME DEPARTMENTS
departments = spark.read.csv("/Users/pasquale/Desktop/MySQL/EsameBDBD2020_CarvigianiDelleFrattePicconiTommasino/archive/departments.csv", header="true", inferSchema="true")
departments.cache() # Cache data for faster reuse
departments = departments.dropna() # drop rows with missing values
departments.show(10)
b = departments.count()
print("The row of departments.csv are: %s" %b)

23/01/31 17:41:20 WARN CacheManager: Asked to cache already cached data.
+-------------+---------------+
|department_id|     department|
+-------------+---------------+
|            1|         frozen|
|            2|          other|
|            3|         bakery|
|            4|        produce|
|            5|        alcohol|
|            6|  international|
|            7|      beverages|
|            8|           pets|
|            9|dry goods pasta|
|           10|           bulk|
+-------------+---------------+
only showing top 10 rows

The row of departments.csv are: 21

In [250]:
#DATAFRAME ORDERS
orders = spark.read.csv("/Users/pasquale/Desktop/MySQL/EsameBDBD2020_CarvigianiDelleFrattePicconiTommasino/archive/orders.csv", header="true", inferSchema="true")
#orders.cache() # Cache data for faster reuse
orders = orders.dropna() # drop rows with missing values
orders.take(10)
display(orders)

d = orders.count()
print("The row of orders.csv are: %s" %d)

DataFrame[order_id: int, user_id: int, eval_set: string, order_number: int, order_dow: int, order_hour_of_day: int, days_since_prior_order: double]

The row of orders.csv are: 3214874

In [251]:
#DATAFRAME AISLES
aisles = spark.read.csv("/Users/pasquale/Desktop/MySQL/EsameBDBD2020_CarvigianiDelleFrattePicconiTommasino/archive/aisles.csv", header="true", inferSchema="true")
aisles.cache() # Cache data for faster reuse
aisles = aisles.dropna() # drop rows with missing values
aisles.show(10)
c = aisles.count()
print("The row of aisles.csv are: %s" %c)

23/01/31 17:41:22 WARN CacheManager: Asked to cache already cached data.
+--------+--------------------+
|aisle_id|               aisle|
+--------+--------------------+
|       1|prepared soups sa...|
|       2|   specialty cheeses|
|       3| energy granola bars|
|       4|       instant foods|
|       5|marinades meat pr...|
|       6|               other|
|       7|       packaged meat|
|       8|     bakery desserts|
|       9|         pasta sauce|
|      10|    kitchen supplies|
+--------+--------------------+
only showing top 10 rows

The row of aisles.csv are: 134

In [252]:
#CREATE TEMPORARY TABLE OF PRODUCTS
products.createOrReplaceTempView("productsstudy")
sqldf1 = spark.sql("SELECT * FROM productsstudy")
sqldf1.show(10)

+----------+--------------------+--------+-------------+
|product_id|        product_name|aisle_id|department_id|
+----------+--------------------+--------+-------------+
|         1|Chocolate Sandwic...|      61|           19|
|         2|    All-Seasons Salt|     104|           13|
|         3|Robust Golden Uns...|      94|            7|
|         4|Smart Ones Classi...|      38|            1|
|         5|Green Chile Anyti...|       5|           13|
|         6|        Dry Nose Oil|      11|           11|
|         7|Pure Coconut Wate...|      98|            7|
|         8|Cut Russet Potato...|     116|            1|
|         9|Light Strawberry ...|     120|           16|
|        10|Sparkling Orange ...|     115|            7|
+----------+--------------------+--------+-------------+
only showing top 10 rows

In [253]:
#CREATE TEMPORARY TABLE OF DEPARTMENTS
departments.createOrReplaceTempView("departmentsstudy")
sqldf2 = spark.sql("SELECT * FROM departmentsstudy")
sqldf2.show(10)

+-------------+---------------+
|department_id|     department|
+-------------+---------------+
|            1|         frozen|
|            2|          other|
|            3|         bakery|
|            4|        produce|
|            5|        alcohol|
|            6|  international|
|            7|      beverages|
|            8|           pets|
|            9|dry goods pasta|
|           10|           bulk|
+-------------+---------------+
only showing top 10 rows

In [254]:
#CREATE TEMPORARY TABLE OF AISLES
aisles.createOrReplaceTempView("aislesstudy")
sqldf3 = spark.sql("SELECT * FROM aislesstudy")
sqldf3.show(10)

+--------+--------------------+
|aisle_id|               aisle|
+--------+--------------------+
|       1|prepared soups sa...|
|       2|   specialty cheeses|
|       3| energy granola bars|
|       4|       instant foods|
|       5|marinades meat pr...|
|       6|               other|
|       7|       packaged meat|
|       8|     bakery desserts|
|       9|         pasta sauce|
|      10|    kitchen supplies|
+--------+--------------------+
only showing top 10 rows

In [255]:
#CREATE TEMPORARY TABLE OF ORDERS
orders.createOrReplaceTempView("ordersstudy")
sqldf4 = spark.sql("SELECT * FROM ordersstudy")
sqldf4.show(10)

+--------+-------+--------+------------+---------+-----------------+----------------------+
|order_id|user_id|eval_set|order_number|order_dow|order_hour_of_day|days_since_prior_order|
+--------+-------+--------+------------+---------+-----------------+----------------------+
| 2398795|      1|   prior|           2|        3|                7|                  15.0|
|  473747|      1|   prior|           3|        3|               12|                  21.0|
| 2254736|      1|   prior|           4|        4|                7|                  29.0|
|  431534|      1|   prior|           5|        4|               15|                  28.0|
| 3367565|      1|   prior|           6|        2|                7|                  19.0|
|  550135|      1|   prior|           7|        1|                9|                  20.0|
| 3108588|      1|   prior|           8|        1|               14|                  14.0|
| 2295261|      1|   prior|           9|        1|               16|                   0.0|
| 2550362|      1|   prior|          10|        4|                8|                  30.0|
| 1187899|      1|   train|          11|        4|                8|                  14.0|
+--------+-------+--------+------------+---------+-----------------+----------------------+
only showing top 10 rows

In [256]:
#RENAME COLUMN "DAY_OF_WEEK" AND RENAME DF IN "ORDERS_DAY"
ORDERS_DAY = orders.withColumnRenamed("order_dow", "day_of_week")

In [257]:
#FIND THE CORRECT VARIABLES
from pyspark.sql import functions
ORDERS_DAY.groupBy().max("day_of_week").show()
ORDERS_DAY.groupBy().min("day_of_week").show()

+----------------+
|max(day_of_week)|
+----------------+
|               6|
+----------------+

+----------------+
|min(day_of_week)|
+----------------+
|               0|
+----------------+

In [258]:
#RENAME DAY OF WEEK
from pyspark.sql.functions import *

ORDERS_DAY = ORDERS_DAY.withColumn('day_of_week', regexp_replace('day_of_week', '0', 'Domenica'))
ORDERS_DAY = ORDERS_DAY.withColumn('day_of_week', regexp_replace('day_of_week', '1', 'Lunedì'))
ORDERS_DAY = ORDERS_DAY.withColumn('day_of_week', regexp_replace('day_of_week', '2', 'Martedì'))
ORDERS_DAY = ORDERS_DAY.withColumn('day_of_week', regexp_replace('day_of_week', '3', 'Mercoledì'))
ORDERS_DAY = ORDERS_DAY.withColumn('day_of_week', regexp_replace('day_of_week', '4', 'Giovedì'))
ORDERS_DAY = ORDERS_DAY.withColumn('day_of_week', regexp_replace('day_of_week', '5', 'Venerdì'))
ORDERS_DAY = ORDERS_DAY.withColumn('day_of_week', regexp_replace('day_of_week', '6', 'Sabato'))
                                   
ORDERS_DAY.show(10)

+--------+-------+--------+------------+-----------+-----------------+----------------------+
|order_id|user_id|eval_set|order_number|day_of_week|order_hour_of_day|days_since_prior_order|
+--------+-------+--------+------------+-----------+-----------------+----------------------+
| 2398795|      1|   prior|           2|  Mercoledì|                7|                  15.0|
|  473747|      1|   prior|           3|  Mercoledì|               12|                  21.0|
| 2254736|      1|   prior|           4|    Giovedì|                7|                  29.0|
|  431534|      1|   prior|           5|    Giovedì|               15|                  28.0|
| 3367565|      1|   prior|           6|    Martedì|                7|                  19.0|
|  550135|      1|   prior|           7|     Lunedì|                9|                  20.0|
| 3108588|      1|   prior|           8|     Lunedì|               14|                  14.0|
| 2295261|      1|   prior|           9|     Lunedì|               16|                   0.0|
| 2550362|      1|   prior|          10|    Giovedì|                8|                  30.0|
| 1187899|      1|   train|          11|    Giovedì|                8|                  14.0|
+--------+-------+--------+------------+-----------+-----------------+----------------------+
only showing top 10 rows

In [259]:
#CREATE TABLE OF SUM OF ORDERS
sqldf5 = spark.sql("SELECT SUM(order_number) as sum_order FROM ordersstudy")
sqldf5.show(10)

+---------+
|sum_order|
+---------+
| 58481984|
+---------+

In [260]:
ORDERS_DAY.groupBy().sum().collect()

[Row(sum(order_id)=5499605950865, sum(user_id)=331035818017, sum(order_number)=58481984, sum(order_hour_of_day)=43210534, sum(days_since_prior_order)=35732798.0)]

In [261]:
#TABLE OF TOTAL ORDERS PER DAY OF WEEK (DECREASING WAY)
ORDERS_DAY.createOrReplaceTempView("total_orders")
sqldf6 = spark.sql(" select day_of_week, sum(order_number) as total_orders from total_orders group by 1 order by 2 desc limit 7 ")
sqldf6.show()

+-----------+------------+
|day_of_week|total_orders|
+-----------+------------+
|     Lunedì|    10077792|
|   Domenica|     9523062|
|    Martedì|     8108244|
|    Venerdì|     8082294|
|  Mercoledì|     7761683|
|    Giovedì|     7653131|
|     Sabato|     7275778|
+-----------+------------+

In [262]:
#BAR CHART OF TOTAL ORDERS PER DAY OF WEEK (DECREASING WAY)
ORDERS_DAY.createOrReplaceTempView("total_orders")
sqldf7= spark.sql("""
  select day_of_week, sum(order_number) as total_orders
  from total_orders
  group by 1
  order by 2 desc
  limit 7
""")
sqldf7.show()

+-----------+------------+
|day_of_week|total_orders|
+-----------+------------+
|     Lunedì|    10077792|
|   Domenica|     9523062|
|    Martedì|     8108244|
|    Venerdì|     8082294|
|  Mercoledì|     7761683|
|    Giovedì|     7653131|
|     Sabato|     7275778|
+-----------+------------+

In [263]:
#FIND THE CORRECT VARIABLES
from pyspark.sql import functions
ORDERS_DAY.groupBy().max("order_hour_of_day").show()
ORDERS_DAY.groupBy().min("order_hour_of_day").show()

+----------------------+
|max(order_hour_of_day)|
+----------------------+
|                    23|
+----------------------+

+----------------------+
|min(order_hour_of_day)|
+----------------------+
|                     0|
+----------------------+

In [264]:
#TABLE OF TOTAL ORDERS PER HOUR
ORDERS_DAY.createOrReplaceTempView("order_hour")
display(spark.sql("""
  select order_hour_of_day, sum(order_number) as total_orders
  from order_hour
  group by 1 
  order by 1 asc
"""))

DataFrame[order_hour_of_day: int, total_orders: bigint]

In [265]:
#TREND LINE OF TOTAL ORDERS PER HOUR
ORDERS_DAY.createOrReplaceTempView("order_hour")
display(spark.sql("""
  select order_hour_of_day, sum(order_number) as total_orders
  from order_hour
  group by 1 
  order by 1 asc
"""))

DataFrame[order_hour_of_day: int, total_orders: bigint]

In [266]:
#MERGE DEPARTMENTS AND PRODUCTS WITH "LEFT OUTER JOIN"
left_join = products.join(departments, on="department_id", how='left_outer') # Could also use 'left_outer'
left_join.show()

+-------------+----------+--------------------+--------+---------------+
|department_id|product_id|        product_name|aisle_id|     department|
+-------------+----------+--------------------+--------+---------------+
|           19|         1|Chocolate Sandwic...|      61|         snacks|
|           13|         2|    All-Seasons Salt|     104|         pantry|
|            7|         3|Robust Golden Uns...|      94|      beverages|
|            1|         4|Smart Ones Classi...|      38|         frozen|
|           13|         5|Green Chile Anyti...|       5|         pantry|
|           11|         6|        Dry Nose Oil|      11|  personal care|
|            7|         7|Pure Coconut Wate...|      98|      beverages|
|            1|         8|Cut Russet Potato...|     116|         frozen|
|           16|         9|Light Strawberry ...|     120|     dairy eggs|
|            7|        10|Sparkling Orange ...|     115|      beverages|
|            7|        11|   Peach Mango Juice|      31|      beverages|
|            1|        12|Chocolate Fudge L...|     119|         frozen|
|           11|        13|   Saline Nasal Mist|      11|  personal care|
|           17|        14|Fresh Scent Dishw...|      74|      household|
|           18|        15|Overnight Diapers...|      56|         babies|
|           19|        16|Mint Chocolate Fl...|     103|         snacks|
|           12|        17|   Rendered Duck Fat|      35|   meat seafood|
|            1|        18|Pizza for One Sup...|      79|         frozen|
|            9|        19|Gluten Free Quino...|      63|dry goods pasta|
|            7|        20|Pomegranate Cranb...|      98|      beverages|
+-------------+----------+--------------------+--------+---------------+
only showing top 20 rows

In [267]:
table_sector = left_join.groupBy("department").count()
table_sector.show(10)
left_join.count()

+---------------+-----+
|     department|count|
+---------------+-----+
|      beverages| 4365|
|   meat seafood|  907|
|           null|    1|
|         frozen| 4007|
|           deli| 1322|
|dry goods pasta| 1858|
|           bulk|   38|
|          other|  548|
|         babies| 1081|
|         bakery| 1516|
+---------------+-----+
only showing top 10 rows

49688

In [268]:
table_sector.createOrReplaceTempView("left_join2")
display(spark.sql("""
  select department, count
  from left_join2
  order by 2 desc
  limit 10
"""))

DataFrame[department: string, count: bigint]

In [269]:
table_sector.groupBy().sum().show()

+----------+
|sum(count)|
+----------+
|     49688|
+----------+

In [270]:
table_sector.createOrReplaceTempView("left_join2")
display(spark.sql("""
  select department, count
  from left_join2
  order by 2 desc
  limit 10
"""))

DataFrame[department: string, count: bigint]